.table {
	margin: 5% auto;
	height: 700px;
	width: 700px;
	border: 1px solid black;
}

.container {
	text-align: center;
}

.changeColor {
	background-color: black;
}

h1 {
	margin-top: 5%;
	font-size: 150%;
	text-decoration: none;
}

p {
	margin-top: 1%
}
